.RData
.Rhistory
*.Rproj

Slides_2018
style


/Lectures/*
!Lectures/Apropos.pdf
!Lectures/Statistiques.descriptives.pdf
!Lectures/Prob.pdf
!Lectures/Var.alea1.pdf
!Lectures/Var.alea2.pdf
!Lectures/Inc.pdf
!Lectures/Reg.pdf

/Extfigures/*

/Infigures/*

/cache/*
.Rproj.user
