.RData
.Rhistory
*.Rproj
.Rproj.user
index.md
index.Rmd
README.Rmd
git.md

Extfigures
Infigures
cache
docs
2018
2021
style
Examen

/Lectures/*
!Lectures/Apropos.pdf
!Lectures/Statistiques.descriptives.pdf
!Lectures/Prob.pdf
!Lectures/Var.alea1.pdf
!Lectures/Var.alea2.pdf
!Lectures/Inc.pdf
!Lectures/Reg.pdf

/Labs/*
!Labs/1.pdf
!Labs/1S.pdf
!Labs/2.pdf
!Labs/2S.pdf
!Labs/3.pdf
!Labs/3S.pdf
!Labs/4.pdf
!Labs/4S.pdf
!Labs/5.pdf
!Labs/5S.pdf
!Labs/6.pdf
!Labs/6S.pdf
!Labs/7.pdf
!Labs/7S.pdf
!Labs/8.pdf
!Labs/8S.pdf
#!Labs/9.pdf
#!Labs/9S.pdf
