.RData
.Rhistory
*.Rproj
.Rproj.user

Extfigures
Infigures
cache
Slides_2018
style

/Lectures/*
!Lectures/Apropos.pdf
!Lectures/Statistiques.descriptives.pdf
!Lectures/Prob.pdf
!Lectures/Var.alea1.pdf
!Lectures/Var.alea2.pdf
!Lectures/Inc.pdf
!Lectures/Reg.pdf

/Labs/*
!Labs/1.pdf
#!Labs/1S.pdf


